#main {
	width: 100%;
}

.the-tweet {
	width: 100%;
	background-color: #424242;
	padding: 30px;
}

twitterwidget {
	margin: 20px auto;	
}

.analysis-text {
	margin-top: 20px; 
	display: block;
}

.tweet-title {
	margin-top: 20px;
	font-size: 2em;
	font-weight: 100;
}

.the-analysis {
	margin-bottom: 80px;
}

.comments-title {
	display: none;
}

.wtf-cat-class {
	background-color: #424242;
	border: 1px solid #424242;
	color: #fff;
	margin: 5px 10px 20px 0;
	padding: 8px;
	display: inline-block;
}

.wtf-cat-class:hover {
	background-color: #fff;
	border: 1px solid #424242;
}

.wtf-tweet-holder {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
	margin-bottom: 30px;
	cursor: pointer;
	z-index: 200;
	-webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.wtf-tweet-holder:hover {
	background-color: rgba(70,160,223,.2);
	border: 1px solid rgba(70,160,223,1);
}

.twitter-tweet-rendered {
	z-index: -200;
}

